<div class="row">
    <div class="sin col-5" id="sin"></div>

    <div class="des col-lg-7">
        <div class="des-content text-center">
            <!--ICONA-->
            <i class="fab fa-pagelines fa-2x"></i>
            <!--/ICONA-->
            <h1>Cucina Vegetale</h1>
            <p>Ricette alla portata di tutti, ingredienti sani per un’alimentazione sostenibile.</p>
            <a routerLink="/ricette" class="btn btn-outline-dark">Scopri le ricette</a>
        </div>

    </div>
</div>