<!--REGISTRAZIONE-->

<div class="row">
    <div style="background-image: url(../../../assets/img/orange.jpg);" class="sin col-5"></div>

    <div class="des col-7">
        <div class="des-content text-center col-6">
            <form #f="ngForm" (ngSubmit)="registerUser(f)">
                <h1>Registrati</h1>
                <input type="hidden" ngModel #idUser="ngModel" name="idUser">

                <input type="text" name="nome" id="nome" class="form-control" #nome="ngModel" ngModel placeholder="nome"
                    required>

                <input type="text" name="cognome" id="cognome" class="form-control" #cognome="ngModel" ngModel
                    placeholder="cognome" required>


                <input type="text" name="username" id="username" class="form-control" #username="ngModel" ngModel
                    placeholder="username" required>


                <input type="password" name="password" id="password" class="form-control" #password="ngModel" ngModel
                    placeholder="password" required>

                <input type="hidden" ngModel #token="ngModel" name="token">
                <input type="hidden" ngModel #scadenza="ngModel" name="scadenza">
                <button [disabled]="f.invalid" type="submit" class="btn ">Fatto!</button>



            </form>
        </div>

    </div>
</div>